@import './_scss/colors';
@import './_scss/helpers';
@import './_scss/layout';
@import './_scss/typography';

// BUILGING APP SVG
// BUILGING APP SVG
// BUILGING APP SVG
#Layer_1 {
  display: block;
  height: 200px;
  width: 200px;
  margin: 0 auto;

  .star {
    fill: #fff;
  }

  .maincircle {
    fill: #40B4E5;
  }

  .dashedline {
    fill: none;
    stroke: #33006F;
    stroke-dasharray: 11.94 11.94;
  }

  .inring {
    fill: none;
    stroke: #fff;
  }

  .dashedline,
  .hammerhead,
  .handle,
  .inring {
    stroke-miterlimit: 10;
  }

  .reddot {
    fill: #33006F;
  }

  .hammerhead,
  .handle {
    stroke: #000;
  }

  .hammerhead {
    fill: #ddd;
  }

  .handle {
    fill: #f7bb21;
  }

  .textcontainer {
    display: block;
    width: 400px;
    margin: auto;
    text-align: center;
  }
}
// BUILGING APP SVG
// BUILGING APP SVG
// BUILGING APP SVG
