.contact {
  &-card {
    @include display-flex;
    @include flex-direction(column);
    @include align-items(flex-start);
    @include justify-content(flex-end);
    height: 210px;
    padding: 22px;
    background-image: url("logo_empty.svg");
    background-position: right -70px bottom -15px;
    background-repeat: no-repeat;
    background-size: contain, cover;

    @media #{$medium-and-up} {
      height: 240px;
    }

    @media #{$extra-large-and-up} {
      height: 270px;
    }

    .border {
      margin: 8px 0;
      padding: 1px 22px;
      background: white;
    }

    .rrss {
      width: 100%;
      margin-top: 20px;
    }

    a {
      color: white;
    }
  }
}
