@import './_scss/variables';

body,
html {
  height: 100%;
}

body {
  @include display-flex;
  @include flex-direction(column);
}

main {
  @include flex(1 0 auto);
}

.brand-logo {
  margin-top: 1px;
  @media #{$medium-and-up} {
    margin-top: 3px;
  }

  .img {
    height: 55px;
    @media #{$medium-and-up} {
      height: 60px;
    }
  }
}

.background-mask {
  background-size: cover;
  background-position: center center;
  background-color: rgba(color("blue-grey", "darken-4"), 0.80);
}

.footer {
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(space-between);
  @include flex(1 0 auto);

  @media #{$large-and-up} {
    @include justify-content(flex-end);
  }
}

#include-terms {
  ol {
    padding: 0 20px;
  }
}
