@import './_scss/variables';

body,
html {
  height: 100%;
  font-family: 'Exo 2', sans-serif;
}

body {
  @include display-flex;
  @include flex-direction(column);
}

main {
  @include flex(1 0 auto);
}

nav ul a {
  padding: 0 12px;
}

.brand-logo {
  margin-top: 5px;
  overflow: hidden;
  @media #{$medium-and-up} {
    margin-top: 8px;
  }

  .img {
    height: 55px;
    display: block;
    margin-bottom: -10px;
    @media #{$medium-and-up} {
      height: 60px;
    }
  }
}

.logo {
  width: 90%;
  @media #{$medium-and-up} {
    width: 65%;
  }
}

.background-mask {
  background-size: cover;
  background-position: center center;
  background-color: rgba(color("primary", "base"), 0.20);
}

.footer {
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(space-between);
  @include flex(1 0 auto);
  @media #{$large-and-up} {
    @include justify-content(flex-end);
  }
}

#include-terms {
  ol {
    padding: 0 20px;
  }
}
