h1 {
  font-size: 4rem;
  font-weight: 800;
  margin: 1.68rem 0;

  &.header {
    @media #{$small-and-down} {
      font-size: 3.5rem;
    }
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 1.424rem 0;
}

h3 {
  font-size: 2rem;
  font-weight: 800;
  margin: 1.168rem 0;
}

h4 {
  font-size: 1.8rem;
  font-weight: 800;
  margin: 0.912rem 0;
}

h5 {
  font-size: 1.6rem;
  margin: 0.656rem 0;
}

p,
span {
  font-size: 1.4rem;
  line-height: 1.4;
}

a {
  color: color("secondary", "base");
}

.browser-default {
  li {
    font-size: 1.3rem;
  }
}

.materialize-textarea {
  line-height: 20px;
}

.text-tiny {
  font-size: 0.6rem;
}

.text-small {
  font-size: 1.3rem;
}

.text-medium {
  font-size: 1.6rem;
}

.text-big {
  font-size: 2.3rem;
}

.text-large {
  font-size: 2.6rem;
}

.text-bold {
  font-weight: 600;
}
