---
layout: default
title: Blog
id: blog
subset: blog
permalink: /blog
---

<div class="section primary lighten-1 no-pad-bot secondary-text">
  <header class="container center">
    <br><br>
    <h1 class="header">
      Blog de Fisioeffect
    </h1>
    <h2 class="light">Aquí encontrarás un sinfín de artículos</h2>
    <h3 class="light">Hábitos saludables, ejercicios, dieta, mantenimiento, etc</h3>
    <br><br>
  </header>
</div>

<div class="container">
  <br><br>
  <ul class="row">
    {% for post in site.posts %}
    <li class="col s12 m6 l4">
      <a class="card small hoverable waves-effect waves-light" href="{{ post.url }}">
        <div class="card-image">
          {% if post.thumbail_img %} {% assign postImage = post.thumbail_img %} {% else %} {% assign postImage =
          post.img %} {% endif %}
          <img src="{{ postImage | asset_path }}" alt="post_image">
        </div>
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">{{ post.title }}</span>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
  <br><br>
</div>
<div class="section secondary">
  <br><br>
  <div class="flex-row container">
    <img class="logo" src="/images/logo_blue_2x.png" alt="Fisioeffect logo" />
  </div>
  <br><br>
</div>
