<footer class="primary">
  <div class="container">
    <br>
    <div class="row flex-row">
      <p class="secondary-text footer">
        <a href="#terms" class="secondary-text modal-trigger waves-effect waves-light">{{site.terms.title}}</a>
        <span class="hide-on-med-and-down">&nbsp;-&nbsp;</span>
        <a class="secondary-text" href="{{site.baseurl}}/cookies" target="_blank">{{site.cookies.title}}</a>
      </p>
      <!-- Modal Structure -->
      <div id="terms" class="modal">
        <div class="modal-content text-justify">
          <h5 class="secondary-text">
            <span>{{site.terms.title}}</span>
            <a href="#!" class="modal-action modal-close">
              <i class="close material-icons right">close</i>
            </a>
          </h5>
          <div id="include-terms">
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</footer>
