---
layout: default
---

<div class="post">
  <!-- <div class="no-pad-bot" style="background-image: url({{ page.img | asset_path }}) ">
    <div class="background-mask">
      <header class="container post-header secondary-text">
        <br><br><br>
        <h1 class="center">
          {{ page.title }}
        </h1>
        <br>
      </header>
    </div>
  </div> -->
  <header class="section secondary center">
    <br><br><br>
    <div class="flex-row container">
      <img class="logo" src="/images/logo_empty_light.svg" alt="Fisioeffect logo" />
    </div>
    <h1 class="primary-text">WELCOME</h1>
  </header>
  <article class="section">
    <br>
    <div class="container post-content grey-text text-darken-2">
      {{ content }}
    </div>
  </article>
</div>
